*.pyc
*checkpoints*
*.pth
trained_models
*.bash_history
*.local/
*.cache/
*.ipython
*.jupyter
*.nv
*.ssh/
data
build
sandbox
tmp
scratch

.idea/
.vscode/
.env

dense_correspondence/training/training_tutorial-2.ipynb
dense_correspondence/training/training_tutorial-3.ipynb
dense_correspondence/training/training_script_tomasz.py
dense_correspondence/evaluation/evaluation_qualitative_tutorial-2.ipynb